.zoom {
  transition: transform .2s;
  z-index: 2;
  /* Animation */
}

.zoom:hover {
  transform: scale(1.75);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}